ul {
  background: #eeeeee;
  font-family: “Trebuchet MS”, Verdana;
}

ol {
	background: #00ff00;
	font-family: Verdana;
}

h1, h2, h3, h4, h5, h6 {
  color: #009900;
  font-family: Georgia, sans-serif;
}

#container {
  width: 60%;
  margin: auto;
  padding: 18 px;
  border: 1px solid;
  background: #ffffff;
}

.cuisines {
	color: #eeeeee;
	background: #000000
	font-family: Verdana;
}